<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
      background-color:#143A52;
      color: #fff;
  }
  </style>
  <body style="background-color :#6E828A">

<div class="jumbotron text-center">
<h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="input-group-btn">
        <button type="submit" class="btn btn-danger"><font size="4">Login</font></button>
      </div><br>
  </form>
</body >
